{% extends 'base.html' %}

{% block head %}
<title>Update</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Update Book</h1>

    <div class="form">
        <form action="/update/{{book.id}}" method="POST"></p>
            <p><input type="hidden" value="{{book.id}}" name="oldId"></p>
            <label for="name">Name:</label>
            <p><input type="text" name="name"   id="name" value="{{book.name}}"></p>
            <label for="author">Author</label>
            <p><input type="text" name="author"  id="author"  value="{{book.author}}"></p>
            <label for="isbn">ISBN:</label>
            <p><input type="text" name="isbn"  id="isbn" value="{{book.isbn}}"></p>
            <p><input type="submit" value="Update">
        </form>
    </div>
</div>
{% endblock %}
